@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@inject Microsoft.AspNetCore.Identity.SignInManager<Semester_Project_0._1.Models.ApplicationUser> signInManager

<h4>Recurring - Class</h4>

<div class="container p-3 badge-dark">
    <form id="classForm" autocomplete="off" novalidate="novalidate" runat="server">
        <div class="model-header">

            <h4 class="modal-title">Add Details</h4>

        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" maxlength="100" class="form-control" id="title" />
            </div>
            <div div class="form-group">
                <label for="numberOfStudents">Number Of Students</label>
                <input type="number" id="numberOfStudents" class="form-control" />
            </div>

            <div class="form-group">
                <label for="description">Descriptions</label>
                <textarea type="text" class="form-control" id="description"></textarea>
            </div>

            <div class="form-group">
                <lable for="DateOfFirstClass">Date of First Class</lable>
                <input id="datepicker" class="form-control">
            </div>

            <div class="form-group">
                <lable for="DateOfLastClass">Date of Last Class</lable>
                <input id="lastdatepicker" class="form-control">
            </div>
            <div class="btn-danger d-flex ">

            </div>
            <div class="form-group">
                <label for="title">Duration</label>
                <select id="duration" asp-items="ViewBag.Duration" class="form-control"></select>
            </div>

            <!--<button type="button" class="btn btn-secondary" onclick="inCloseModal();">Close</button>&nbsp;-->
            <div class="row">
                <div class="col-3">
                    <div class="radio-inline rounded-left">
                        <input type="radio" name="recurrence" id="Radios1" value="weekly" onclick="schedulingType()">
                        <label>Weekly</label>
                    </div>
                    <div class="radio-inline rounded-left">
                        <input type="radio" name="recurrence" id="Radios2" value="multibleDaysAWeek" checked onclick="schedulingType()">
                        <label>Multible Days A Week</label>
                    </div>
                    <div class="radio-inline rounded-left">
                        <input type="radio" name="recurrence" id="Radios3" value="everySecondWeek" onclick="schedulingType()">
                        <label>Every Second Week</label>
                    </div>
                    <div class="radio-inline rounded-left">
                        <input type="radio" name="recurrence" id="Radios4" value="onceAMounth" onclick="schedulingType()">
                        <label>Once A Mounth</label>
                    </div>
                </div>






                <div class="col-10 col-md-9 form-group rounded-right rounded-bottom" colspan="2" id="secondcolum">

                    <div id="weeklyDiv">
                        <h5><label for="daysoftheweeklb">Weekly</label></h5>
                        <label>Day</label>
                        <select id="weeklyday" asp-items="ViewBag.Days" class="form-control"></select>
                        <label>Time</label>
                        <input id="weeklytimepicer" class="form-control">
                    </div>




                    <div id="multidayweekPanel">
                        <div class="form-group">
                            <h5><label for="daysoftheWeekCB">Multible Days A Week</label></h5>

                        </div>

                        <div class="col-12 col-md-12">

                            <div class="row">
                                <div class="col-3 col-sm-6">
                                    <label class="checkbox">
                                        <input type="checkbox" name="recurrence" id="cbMonday" value="Monday" onclick="MultibleDayCB()">
                                        Monday
                                    </label>
                                </div>
                                <div class="col-3 col-sm-6" id="mondiv">
                                    <input id="montimepicker" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3 col-sm-6">
                                    <label class="checkbox">
                                        <input type="checkbox" name="recurrence" id="cbTuesday" value="Tuesday" onclick="MultibleDayCB()">
                                        Tuesday
                                    </label>
                                </div>

                                <div class=" col-3 col-sm-6" id="tuediv">
                                    <input id="tuetimepicker" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3 col-sm-6">
                                    <label class="checkbox">
                                        <input type="checkbox" name="recurrence" id="cbWednesday" value="Wednesday" onclick="MultibleDayCB()">
                                        Wednesday
                                    </label>
                                </div>
                                <div class=" col-3 col-sm-6 " id="wendiv">
                                    <input id="wentimepicker" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <div class=" col-3 col-sm-6">
                                    <label class="checkbox">
                                        <input type="checkbox" name="recurrence" id="cbThursday" value="Thursday" onclick="MultibleDayCB()">
                                        Thursday
                                    </label>
                                </div>
                                <div class=" col-3 col-sm-6" id="thudiv">
                                    <input id="thutimepicker" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3 col-sm-6">
                                    <label class="checkbox">
                                        <input type="checkbox" name="recurrence" id="cbFriday" value="Friday" onclick="MultibleDayCB()">
                                        Friday
                                    </label>
                                </div>
                                <div class="col-3 col-sm-6 " id="fridiv">
                                    <input id="fritimepicker" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3 col-sm-6">
                                    <label class="checkbox">
                                        <input type="checkbox" name="recurrence" id="cbSaturday" value="Saturday" onclick="MultibleDayCB()">
                                        Saturday
                                    </label>
                                </div>
                                <div class="col-3 col-sm-6 " id="satdiv">
                                    <input id="sattimepicker" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <div class=" col-3 col-sm-6">
                                    <label class="checkbox">
                                        <input type="checkbox" name="recurrence" id="cbSunday" value="Sunday" onclick="MultibleDayCB()">
                                        Sunday
                                    </label>
                                </div>

                                <div class=" col-3 col-sm-6 " id="sundiv">
                                    <input id="suntimepicker" class="form-control">
                                </div>
                            </div>

                        </div>
                    </div>

                    <div id="secondweekDiv">

                        <h5><label for="secondweekdaysoftheweeklb">Every Second Weekly</label></h5>
                        <label>Day</label>
                        <select id="secondweekdaysoftheweekradio" asp-items="ViewBag.Days" class="form-control"></select>
                        <label>Time</label>
                        <input id="secondweeklytimepicer" class="form-control">
                    </div>



                    <div class="" id="onceaMonthpanel">

                        <h5><label for="onceamounthlb">Once A Month</label></h5>
                        <label>Day of the Week</label>
                        <select id="onceaMonthradio" asp-items="ViewBag.Days" class="form-control"></select>
                        <label>Time</label>
                        <input id="mounthtimepicer" class="form-control">
                    </div>


                </div>
            </div>
            <div id="divInstructureList">
                @if (User.IsInRole(Semester_Project_0._1.Utility.Helper.Admin) || User.IsInRole(Semester_Project_0._1.Utility.Helper.SystemAdmin))
                {
                    <input type="hidden" id="instructureselect" value="1" />
                    <label> Main Instructure</label>
                    @Html.DropDownList("instructureId", new SelectList(ViewBag.InstuctureList, "Id", "FullName", "FirstName"), new
                    { @class = "form-control select2", @onchange = "OnInstructerIdChange()" })
                }
                else
                {
                    <input type="hidden" id="instructureId" value="" />
                    <input type="hidden" id="instructureselect" value="2" />
                }
            </div>
            <!-------------------------------------------------------------------------------------------------------->

            <input type="hidden" id="id" />
            <div class="modal-footer">
                <button type="button" id="btnSubmit" class="btn btn-success" onclick="rClassSubmit();">Submit</button>
            </div>
        </div>
    </form>
</div>
